\documentclass{article}
\usepackage[utf8]{inputenc}
\usepackage[russian]{babel}
\usepackage{amsmath}
\usepackage{graphicx}
\usepackage{geometry}
\geometry{a4paper, margin=1.5cm}

\begin{document}

\section{Отчёт по решению дифференциального уравнения}

\subsection{Исходное уравнение}
\[ {{ equation }} \]

{% if is_mathieu == False %}
\subsection{Общее решение}
\[ {{ general_solution }} \]

\subsection{Решение задачи Коши}

{% if initial_conditions.y0_prime and initial_conditions.y0 %}
Начальные условия: $y(0) = {{ initial_conditions.y0 }}$; $y'(0) = {{ initial_conditions.y0_prime }}$
{% elif initial_conditions.y0 %}
Начальные условия: $y(0) = {{ initial_conditions.y0 }}$
{% endif %}

\noindent Решение:
\[ {{ cauchy_solution }} \]

{% if point_solution %}
\subsection{Значение в точке}
Значение решения в точке $t = {{ point_solution.point }}$:
\[ y({{ point_solution.point }}) = {{ point_solution.exact }} \approx {{ point_solution.approx }} \]
{% endif %}


{% if solution_graph %}
\subsection{График решения}
\begin{center}
\includegraphics[width=0.6\textwidth]{ {{ solution_graph }} }
\end{center}
{% endif %}

{% if phase_portrait %}
\subsection{Фазовый портрет}
\begin{center}
\includegraphics[width=0.4\textwidth]{ {{ phase_portrait }} }
\end{center}
{% endif %}





{% endif %}
{% if is_mathieu %}
\subsection{Поиск зоны устойчивости и неустойчивости: }
Уравнение находится в {{zones.number}}-й зоне {{zones.is_stability}}
{% endif %}

\end{document}